#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

menu "ARP Configuration"

config NET_ARP
	bool
	default y if !NET_SLIP
	default n if NET_SLIP
	---help---
		This setting is currently overridden by logic in include/nuttx/net

if NET_ARP

config NET_ARPTAB_SIZE
	int "ARP table size"
	default 16
	---help---
		The size of the ARP table (in entries).

config NET_ARP_MAXAGE
	int "Max ARP entry age"
	default 120
	---help---
		The maximum age of ARP table entries measured in deciseconds.  The
		default value of 120 corresponds to 20 minutes (BSD default).

config NET_ARP_IPIN
	bool "ARP address harvesting"
	default n
	---help---
		Harvest IP/MAC address mappings from the ARP table
		from incoming IP packets.

config NET_ARP_DUMP
	bool "Dump ARP packet header"
	default n
	depends on DEBUG
	---help---
		Dump ARP packets to the SYSLOG device.

endif # NET_ARP
endmenu # ARP Configuration
