#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

comment "Common LCD Settings"

config LCD_CONSOLE
	bool "LCD console output"
	default n
	---help---
		It is possible to use an SLCD to provide console output.  This option
		enables that possibility.

		At present, only one architecture supports this option (M16C).
		However, this feature could be provided by other architectures in
		the future.

config LCD_NOGETRUN
	bool "Write-only LCD"
	default n
	---help---
		Many LCD hardware interfaces provide only minimal graphics capability.  In
		particulary, many simple LCD interfaces are write only.  That is we, can
		write graphics data to the LCD device memory, but we cannot read it back.
		If the LCD hardware does not support reading the graphics memory, then
		this option should be defined so that the NX layer can taking alternative
		measures when the LCD is not readable.  For example, if the LCD is not
		readable, then NX will not attempt to support transparency.

		See also NX_WRITEONLY in the graphics support menu.

config LCD_MAXCONTRAST
	int "LCD maximum contrast"
	default 63 if NOKIA6100_S1D15G10 || LCD_SHARP_MEMLCD
	default 127 if NOKIA6100_PCF8833
	default 255 if LCD_P14201 || LCD_LCD1602
	default 63
	range 1 255
	---help---
		must be 63 with the Epson controller and 127 with
		the Phillips controller.

config LCD_MAXPOWER
	int "LCD maximum power"
	default 255 if LCD_LCD1602
	default 1
	range 1 255
	---help---
		Maximum value of LCD power setting.  This normally equates to brightness:
		The brighter the screen, the hight the power usage.

		On LCDs that have a backlight, this value corresponds directly to that
		backlight setting.  Board-specific logic may place restrictions on this
		value.

comment "Graphic LCD Devices"

config LCD_P14201
	bool "Rit P1402 series display"
	default n
	---help---
		p14201.c.  Driver for RiT P14201 series display with SD1329 IC
		controller.  This OLED is used with older versions of the
		TI/Luminary LM3S8962 Evaluation Kit.

if LCD_P14201
config P14201_NINTERFACES
	int "Number of physical P14201 devices"
	default 1
	range 1 1
	---help---
		Specifies the number of physical P14201
		devices that will be supported.

config P14201_SPIMODE
	int "SPI mode"
	default 2
	range 0 3
	---help---
		Controls the SPI mode

config P14201_FREQUENCY
	int "SPI frequency"
	default 1000000
	---help---
		Define to use a different bus frequency,FIXME DEFAULT VALUE OK?

config P14201_FRAMEBUFFER
	bool "Enable P14201 GDDRAM cache"
	default y
	---help---
		If defined, accesses will be performed
		using an in-memory copy of the OLEDs GDDRAM.  This cost of this
		buffer is 128 * 96 / 2 = 6Kb.  If this is defined, then the driver
		will be fully functional. If not, then it will have the following
		limitations:
		
		Reading graphics memory cannot be supported, and
		
		All pixel writes must be aligned to byte boundaries.
		The latter limitation effectively reduces the 128x96 disply to 64x96.
endif

config LCD_NOKIA6100
	bool "Nokia 6100 display support"
	default n
	---help---
		nokia6100.c.  Supports the Nokia 6100 display with either the Philips
		PCF883 or the Epson S1D15G10 display controller.  This LCD is used
		with the Olimex LPC1766-STK (but has not been fully integrated).

if LCD_NOKIA6100

config NOKIA6100_NINTERFACES
	int "Number of physical NOKIA6100 devices"
	default 1
	range 1 1
	---help---
		Specifies the number of physical Nokia
		6100 devices that will be supported.

choice NOKIA6100_CONTROLLER
	prompt "Controller Setup"
	default NOKIA6100_S1D15G10

config NOKIA6100_S1D15G10
	bool "S1D15G10 controller"
	---help---
		Selects the Epson S1D15G10 display controller

config NOKIA6100_PCF8833
	bool "PCF8833 controller"
	---help---
		Selects the Phillips PCF8833 display controller

endchoice

config NOKIA6100_SPIMODE
	int "SPI mode"
	default 0
	range 0 3
	---help---
		Controls the SPI mode

config NOKIA6100_FREQUENCY
	int "SPI frequency"
	default 1000000
	---help---
		Define to use a different bus frequency

config NOKIA6100_BPP
	int "Display bits per pixel"
	default 8
	---help---
		Device supports 8, 12, and 16 bits per pixel.

config NOKIA6100_BLINIT
	int "Back light initial"
	default 40
	---help---
		Initial backlight setting

config NOKIA6100_INVERT
	int "Display inversion"
	default 1
	range 0 1
	---help---
		Display inversion, 0 or 1, Default: 1

config NOKIA6100_MY
	int "Display row direction"
	default 0
	range 0 1
	---help---
		Display row direction, 0 or 1, Default: 0

config NOKIA6100_MX
	int "Display column direction"
	default 1
	range 0 1
	---help---
		Display column direction, 0 or 1, Default: 1

config NOKIA6100_V
	int "Display address direction"
	default 0
	range 0 1
	---help---
		Display address direction, 0 or 1, Default: 0

config NOKIA6100_ML
	int "Display scan direction"
	default 0
	range 0 1
	---help---
		Display scan direction, 0 or 1, Default: 0

config NOKIA6100_RGBORD
	int "Display RGB order"
	default 0
	range 0 1
	---help---
		Display RGB order, 0 or 1, Default: 0
		Required LCD driver settings:
endif

config LCD_MIO283QT2
	bool "MIO283QT-2 TFT LCD Display Module"
	default n
	---help---
		OLED Display Module, MIO283QT-2, Multi-Inno Technology, Co.
		based on the Himax HX8347-D LCD controller.

config LCD_MIO283QT9A
	bool "MIO283QT-9A TFT LCD Display Module"
	default n
	---help---
		Selects the driver for the MI0283QT-9A LCD from Multi-Inno
		Technology Co., Ltd.  This LCD is based on the Ilitek ILI9341
		LCD controller.

config LCD_UG9664HSWAG01
	bool "UG-9664HSWAG01 OLED Display Module"
	default n
	depends on SPI
	---help---
		OLED Display Module, UG-9664HSWAG01, Univision Technology Inc.  Used
		with the LPCXpresso and Embedded Artists base board.

		Required LCD driver settings:
		LCD_MAXCONTRAST should be 255, but any value >0 and <=255 will be accepted.
		LCD_MAXPOWER should be 1:  0=off, 1=on

		Required SPI driver settings:
		SPI_CMDDATA - Include support for cmd/data selection.

if LCD_UG9664HSWAG01

config UG9664HSWAG01_SPIMODE
	int "UG-9664HSWAG01 SPI Mode"
	default 0
	range 0 3
	---help---
		Controls the SPI mode

config UG9664HSWAG01_FREQUENCY
	int "UG-9664HSWAG01 SPI Frequency"
	default 3500000
	---help---
		Define to use a different bus frequency

config UG9664HSWAG01_NINTERFACES
	int "Number of UG-9664HSWAG01 Devices"
	default 1
	---help---
		Specifies the number of physical UG-9664HSWAG01 devices that will be
		supported.  NOTE:  At present, this must be undefined or defined to be 1.

config UG9664HSWAG01_POWER
	bool "Power control"
	default n
	---help---
		If the hardware supports a controllable OLED a power supply, this
		configuration should be defined.  In this case the system must
		provide an interface ug_power().

endif

config LCD_UG2864HSWEG01
	bool "UG-2864HSWEG01 OLED Display Module"
	default n
	depends on SPI
	select LCD_SSD1306
	---help---
		OLED Display Module, UG-2864HSWEG01, Univision Technology Inc based
		on the Solomon Tech SSD1306 LCD controller.

		Required LCD driver settings:
		LCD_MAXCONTRAST should be 255, but any value >0 and <=255 will be accepted.
		LCD_MAXPOWER should be 1:  0=off, 1=on

		Required SPI driver settings:
		SPI_CMDDATA - Include support for cmd/data selection.


config LCD_UG2832HSWEG04
	bool "UG-2832HSWEG04 OLED Display Module"
	default n
	depends on SPI && !LCD_UG2864HSWEG01
	select LCD_SSD1306
	---help---
		OLED Display Module, UG-UG2832HSWEG04, Univision Technology Inc
		based on the Solomon Tech SSD1306 LCD controller.  Used with the
		Atmel SAM4L Xplained Pro board on the OLED1 module.

		Required LCD driver settings:
		LCD_MAXCONTRAST should be 255, but any value >0 and <=255 will be accepted.
		LCD_MAXPOWER should be 1:  0=off, 1=on

		Required SPI driver settings:
		SPI_CMDDATA - Include support for cmd/data selection.

config LCD_SSD1306
	bool

if LCD_SSD1306

config SSD1306_SPIMODE
	int "SSD1306 SPI Mode"
	default 0
	range 0 3
	---help---
		Selects the SPI mode used with the SSD1306 device

config SSD1306_FREQUENCY
	int "SSD1306 SPI Frequency"
	default 3500000
	---help---
		Selects the SPI bus frequency used with the SSD1306 device

#config SSD1306_NINTERFACES
#	int "Number of SSD1306 Devices"
#	default 1
#	---help---
#		Specifies the number of physical SSD1306 devices that will be
#		supported.  NOTE:  At present, this must be undefined or defined to
#		be 1.

endif

config LCD_ST7567
	bool "ST7567 LCD Display Module"
	default n
	---help---
		LCD Display Module, ST7567, Univision Technology Inc.  Used
		with the LPCXpresso and Embedded Artists base board.

		Required LCD driver settings:
		LCD_MAXCONTRAST should be 255, but any value >0 and <=255 will be accepted.
		LCD_MAXPOWER should be 1:  0=off, 1=on

		Required SPI driver settings:
		SPI_CMDDATA - Include support for cmd/data selection.

if LCD_ST7567

config ST7567_SPIMODE
	int "ST7567 SPI Mode"
	default 0
	range 0 3
	---help---
		Controls the SPI mode

config ST7567_FREQUENCY
	int "ST7567 SPI Frequency"
	default 3500000
	---help---
		Define to use a different bus frequency

config ST7567_NINTERFACES
	int "Number of ST7567 Devices"
	default 1
	---help---
		Specifies the number of physical ST7567 devices that will be
		supported.  NOTE:  At present, this must be undefined or defined to be 1.

config ST7567_POWER
	bool "Power control"
	default n
	---help---
		If the hardware supports a controllable LCD a power supply, this
		configuration should be defined.  In this case the system must
		provide an interface ug_power().

config ST7567_XRES
	int "ST7567 X Resolution"
	default 128
	---help---
		Specifies the X resolution of the LCD.

config ST7567_YRES
	int "ST7567 Y Resolution"
	default 64
	---help---
		Specifies the Y resolution of the LCD.

endif

config LCD_UG2864AMBAG01
	bool "UG-2864AMBAG01 OLED Display Module"
	default n
	---help---
		OLED Display Module, UG-2864AMBAG01, Univision Technology Inc.

		Required LCD driver settings:
		LCD_MAXCONTRAST should be 255, but any value >0 and <=255 will be accepted.
		LCD_MAXPOWER should be 1:  0=off, 1=on

		Required SPI driver settings:
		SPI_CMDDATA - Include support for cmd/data selection.

if LCD_UG2864AMBAG01

config UG2864AMBAG01_SPIMODE
	int "UG-2864AMBAG01 SPI Mode"
	default 3
	range 0 3
	---help---
		Controls the SPI mode

config UG2864AMBAG01_FREQUENCY
	int "UG-2864AMBAG01 SPI Frequency"
	default 3500000
	---help---
		Define to use a different bus frequency

config UG2864AMBAG01_NINTERFACES
	int "Number of UG-2864AMBAG01 Devices"
	default 1
	---help---
		Specifies the number of physical UG-9664HSWAG01 devices that will be
		supported.  NOTE:  At present, this must be undefined or defined to be 1.

endif

config LCD_SSD1289
	bool "LCD Based on SSD1289 Controller"
	default n
	---help---
		Enables generic support for any LCD based on the Solomon Systech,
		Ltd, SSD1289 Controller.  Use of this driver will usually require so
		detailed customization of the LCD initialization code as necessary
		for the specific LCD driven by the SSD1289 controller.

if LCD_SSD1289

choice
	prompt "SSD1289 Initialization Profile"
	default SSD1289_PROFILE1

config SSD1289_PROFILE1
	bool "Profile 1"

config SSD1289_PROFILE2
	bool "Profile 2"

config SSD1289_PROFILE3
	bool "Profile 3"

endchoice
endif

config LCD_SHARP_MEMLCD
	bool "Sharp Memory LCD Suite"
	default n
	---help---
		memlcd.c. Driver for Sharp Memory LCD Suite.

if LCD_SHARP_MEMLCD

choice MEMLCD_MODEL
	prompt "Choose Model"
	default MEMLCD_LS013B7DH03

config MEMLCD_LS013B7DH01
	bool "LS013B7DH01"
	---help---
		Selects the LS013B7DH01 model

config MEMLCD_LS013B7DH03
	bool "LS013B7DH03"
	---help---
		Selects the LS013B7DH03 model

endchoice

config MEMLCD_NINTERFACES
	int "Number of physical Memory LCD devices"
	default 1
	range 1 1
	---help---
		Specifies the number of physical Memory LCD devices that will
		be supported.

config MEMLCD_EXTCOMIN_MODE_HW
	bool "Use hardware mode for EXTCOMIN"
	default n
	---help---
		If use hardware mode to toggle VCOM, we need to send specific
		command at a constant frequency to trigger the LCD intenal
		hardware logic.  While use software mode, we set up a timer to
		toggle EXTCOMIN connected IO, basically, it is a hardware
		timer to ensure a constant frequency.

config MEMLCD_SPI_FREQUENCY
	int "SPI frequency"
	default 3500000
	---help---
		Define to use a different bus frequency, FIXME DEFAULT VALUE OK?

endif

choice
	prompt "LCD Orientation"
	default LCD_LANDSCAPE
	depends on LCD
	---help---
		Some LCD drivers may support displays in different orientations.
		If the LCD driver supports this capability, than these are configuration
		options to select that display orientation.

config LCD_LANDSCAPE
	bool "Landscape orientation"
	---help---
		Define for "landscape" orientation support.  Landscape mode refers one
		of two orientations where the display is wider than it is tall
		(LCD_RLANDSCAPE is the other).  This is the default orientation.

config LCD_PORTRAIT
	bool "Portrait orientation"
	---help---
		Define for "portrait" orientation support.  Portrait mode refers one
		of two orientations where the display is taller than it is wide
		(LCD_RPORTAIT is the other).

config LCD_RPORTRAIT
	bool "Reverse portrait display"
	---help---
		Define for "reverse portrait" orientation support.  Reverse portrait mode
		refers one of two orientations where the display is taller than it is
		wide (LCD_PORTAIT is the other).

config LCD_RLANDSCAPE
	bool "Reverse landscape orientation"
	---help---
		Define for "reverse landscape" orientation support.  Reverse landscape mode
		refers one of two orientations where the display is wider than it is
		tall (LCD_LANDSCAPE is the other).

endchoice

comment "Alphanumeric/Segment LCD Devices"

config LCD_LCD1602
	bool "LCD 1602"
	default n
	---help---
		Enable support for LCD1602 devices.  LCD1602 is based on the Hitachi
		HD44780U LCD controller.  See also include/nuttx/lcd/hd4478ou.h.

		NOTE:  There is no common implementation of the LCD1602 driver.
		Rather, there are board-by-board implementations.  See, for example,
		configs/pcblogic-pic32mx/src/up_lcd1602.c.
