#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig PCI
	bool "Support for PCI Bus"
	default n
	---help---
		Enables support for the PCI bus.
		Backend must be provided by per-arch or per-board implementation.

if PCI

config PCI_ASSIGN_ALL_BUSES
	bool "Assign resource to all buses"
	default !ARCH_X86 && !ARCH_X86_64
	---help---
		Assign resources to all buses. This is required for some
		platforms that have multiple PCI buses.

config PCI_QEMU_TEST
	bool "Driver for QEMU PCI test device"
	default n
	---help---
		Driver for QEMU PCI test device

config PCI_QEMU_EDU
	bool "Driver for QEMU EDU test device"
	default n
	---help---
		Driver for QEMU EDU test device

endif # PCI
