#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_SAM4EEK

choice
	prompt "CPU Frequency"
	default SAM4EEK_96MHZ

config SAM4EEK_96MHZ
	bool "96 MHz"

config SAM4EEK_120MHZ
	bool "120 MHz"

endchoice # CPU Frequency

config SAM4EEK_AT25_AUTOMOUNT
	bool "AT25 serial FLASH auto-mount"
	default n
	depends on SAM34_SPI0 && MTD_AT25
	---help---
		Automatically initialize the AT25 SPI FLASH driver when NSH starts.

choice
	prompt "AT25 serial FLASH configuration"
	default SAM4EEK_AT25_FTL
	depends on SAM4EEK_AT25_AUTOMOUNT

config SAM4EEK_AT25_FTL
	bool "Create AT25 Serial FLASH block driver"
	---help---
		Create the MTD driver for the AT25 and "wrap" the AT25 as a standard
		block driver that could then, for example, be mounted using FAT or
		any other file system.  Any file system may be used, but there will
		be no wear-leveling.

config SAM4EEK_AT25_NXFFS
	bool "Create AT25 serial FLASH NXFFS file system"
	depends on FS_NXFFS
	---help---
		Create the MTD driver for the AT25 and mount the AT25 device as
		a wear-leveling, NuttX FLASH file system (NXFFS).  The downside of
		NXFFS is that it can be very slow.

endchoice # AT25 serial FLASH configuration

choice
	prompt "USB MSC block device"
	default SAM4EEK_AT25_BLOCKDEVICE if SAM4EEK_AT25_FTL
	default SAM4EEK_HSMCI_BLOCKDEVICE if !SAM4EEK_AT25_FTL
	depends on SYSTEM_USBMSC && (SAM4EEK_AT25_FTL || SAM34_HSMCI)

config SAM4EEK_AT25_BLOCKDEVICE
	bool "AT25 Serial FLASH"

config SAM4EEK_HSMCI_BLOCKDEVICE
	bool "SD card"
	depends on SAM34_HSMCI

endchoice # AT25 serial FLASH configuration

config SAM4EEK_ILI9325
	bool "ILI9325-based LCD"
	default n
	depends on EXPERIMENTAL
	select NX
	select NX_LCDDRIVER
	---help---
		This option enables support for the SAM4E-EK on-board LCD. The
		SAM4E-EK carries a TFT transmissive LCD module with touch panel,
		FTM280C34D. Its integrated driver IC is ILI9325. The LCD display
		area is 2.8 inches diagonally measured, with a native resolution
		of 240 x 320 dots.

endif # ARCH_BOARD_SAM4EEK
