#
# STM32 common IPCC options.
#

config STM32_IPCC_CHAN1_RX_SIZE
	int "Channel 1 RX size"
	default 256
	depends on STM32_IPCC
	---help---
		Size of the receive buffer. Another CPU will write to this buffer and
		the currently running CPU will read from it.

config STM32_IPCC_CHAN1_TX_SIZE
	int "Channel 1 TX size"
	default 256
	depends on STM32_IPCC
	---help---
		Size of the send buffer. Another CPU will read from this buffer and
		the currently running CPU will write to it.

config STM32_IPCC_CHAN2
	bool "Enable channel 2"
	depends on STM32_IPCC

if STM32_IPCC_CHAN2

config STM32_IPCC_CHAN2_RX_SIZE
	int "Channel 2 RX size"
	default 256

config STM32_IPCC_CHAN2_TX_SIZE
	int "Channel 2 TX size"
	default 256

config STM32_IPCC_CHAN3
	bool "Enable channel 3"

if STM32_IPCC_CHAN3

config STM32_IPCC_CHAN3_RX_SIZE
	int "Channel 3 RX size"
	default 256

config STM32_IPCC_CHAN3_TX_SIZE
	int "Channel 3 TX size"
	default 256

config STM32_IPCC_CHAN4
	bool "Enable channel 4"

if STM32_IPCC_CHAN4

config STM32_IPCC_CHAN4_RX_SIZE
	int "Channel 4 RX size"
	default 256

config STM32_IPCC_CHAN4_TX_SIZE
	int "Channel 4 TX size"
	default 256

config STM32_IPCC_CHAN5
	bool "Enable channel 5"

if STM32_IPCC_CHAN5

config STM32_IPCC_CHAN5_RX_SIZE
	int "Channel 5 RX size"
	default 256

config STM32_IPCC_CHAN5_TX_SIZE
	int "Channel 5 TX size"
	default 256

config STM32_IPCC_CHAN6
	bool "Enable channel 6"

if STM32_IPCC_CHAN6

config STM32_IPCC_CHAN6_RX_SIZE
	int "Channel 6 RX size"
	default 256

config STM32_IPCC_CHAN6_TX_SIZE
	int "Channel 6 TX size"
	default 256

endif # STM32_IPCC_CHAN2
endif # STM32_IPCC_CHAN3
endif # STM32_IPCC_CHAN4
endif # STM32_IPCC_CHAN5
endif # STM32_IPCC_CHAN6
