#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config SPIRIT_NETDEV
	bool "STMicro Spirit1-based Network Driver"
	default n
	select WL_SPIRIT
	---help---
		This selection enables support for the TMicro Spirit1-based device.
		This configuration generates an IEEE802.15.4 work-alike radio device that
		works with the 6LoWPAN stack.

if SPIRIT_NETDEV

endif # SPIRIT_NETDEV
