*.a
*.adb
*.asm
*.bin
*.d
!*.d/
*.dSYM
*.elf
*.exe
*.hex
*.i
*.ihx
*.lib
*.lod
*.lst
*.map
*.o
*.obj
*.rel
*.src
*.srec
*.swp
*.sym
*.wsp
*.ddc
*~
.depend
/.clean_context
/.config
/.config.old
/.cproject
/.gdbinit
/.project
/.version
/_SAVED_APPS_config
/cscope.*
/defconfig
/Make.defs
/nuttx
/nuttx-*
/nuttx.*
/staging
/tags
/TAGS
core
Make*.dep
uImage
/external
