#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config DEVFREQ
	bool "devfreq"
	default n
	---help---
		devfreq framework, dynamic voltage frequency scaling(DVFS)
		for device

if DEVFREQ

choice
	prompt "DEVFREQ_DEFAULT_GOVERNOR"
	default DEVFREQ_DEFAULT_GOV_PERFORMANCE

config DEVFREQ_DEFAULT_GOV_PERFORMANCE
	bool "devfreq_performance"
	---help---
		devfreq performance governor, always choose the highest frequency

config DEVFREQ_DEFAULT_GOV_POWERSAVE
	bool "devfreq_powersave"
	---help---
		devfreq powersave governor, always choose the lowest frequency

config DEVFREQ_DEFAULT_GOV_PASSIVE
	bool "devfreq_passive"
	---help---
		devfreq passive governor, a device-defined governor

endchoice

config DEVFREQ_PROCFS
	bool "devfreq_procfs"
	default n
	depends on FS_PROCFS
	select FS_PROCFS_REGISTER
	---help---
		devfreq procfs support

config DEVFREQ_PROCFS_QOS
	bool "devfreq_procfs_qos"
	default n
	depends on DEVFREQ_PROCFS
	---help---
		devfreq procfs show qos requests and their callers

endif
