#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if NET_IPv6

config NET_IPv6_NCONF_ENTRIES
	int "Number of IPv6 neighbors"
	default 8

endif # NET_IPv6
