#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_MEADOW_F7MICRO

config HCOM_FILESYSTEM_INIT
    bool "Enables HCOM FS initialization support"
    default y

config HCOM_MTD_STRESS_TEST
    bool "Enables HCOM MTD stress testing support"
    default n

config HCOM_MONO_STDERR_STDOUT
    bool "Enables HCOM routing of Mono stdout and stderr to PC/Mac"
    default y

config HCOM_MONO_REMOTE_DEBUGGING
    bool "Enables HCOM Mono remote debugging support"
    default y

config HCOM_COMMS_DEVICE_NAME
    string "Specifies the device name for HCOM communications"
    default "/dev/ttyACM0"

config MEADOW_CLOUD
    string "Enables Meadow Cloud support"
    default y

config MEADOW_ETHNET_INCLUDE_IN_BUILD
    bool "Build Meadow and include Ethernet for compute module"
    default n
    ---help---
    This must be used with a 'defconfig' file that includes the correct Ethernet configuration.

config HCOM_ESP32_COMMS
    bool "Enables HCOM file download to the ESP32"
    default y

menu "ESP32 Coprocessor Configuration"
source "boards/arm/stm32f7/stm32f777zit6-meadow/src/Meadow.OS/espcp/Kconfig"
endmenu

config ARCH_BOARD_MEADOW
    bool "Enables Meadow board features"
    default y

# See meadow-adc.c file, currently unused.
config MEADOW_ADC
    bool "Enables Meadow ADC support"

config MEADOW_HCOM
    bool "Enables Meadow HCOM support"
    default y

config MEADOW_TIMER_SUPPORT
    bool "Enables Meadow timer support"
    default n

config MEADOW_PWR_MGMT_SUPPORT
    bool "Enables Meadow power management support"
    default n


endif # ARCH_BOARD_MEADOW_F7MICRO
