#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_ESP32S3_LCD_EV

choice ESP32S3_LCD_EV_BOARD_VERSION
	prompt "ESP32-S3-LCD-EV-BOARD version"
	default ESP32S3_LCD_EV_BOARD_V14 if ARCH_CHIP_ESP32S3WROOM2N16R8V
	default ESP32S3_LCD_EV_BOARD_V15 if ARCH_CHIP_ESP32S3WROOM1N16R16V

config ESP32S3_LCD_EV_BOARD_V14
	depends on ARCH_CHIP_ESP32S3WROOM2N16R8V
	bool "ESP32-S3-LCD-EV-BOARD v1.4"

config ESP32S3_LCD_EV_BOARD_V15
	depends on ARCH_CHIP_ESP32S3WROOM1N16R16V
	bool "ESP32-S3-LCD-EV-BOARD v1.5"
endchoice

config ESP32S3_BOARD_IOEXPANDER
	bool "Enable Board IO Expander"
	default n
	depends on ESP32S3_BOARD_I2C
	---help---
		Enable board IO expander support, IC is TC9554.

config ESP32S3_BOARD_LCD
	bool "Enable Board LCD"
	default n
	depends on ESP32S3_LCD
	select ESP32S3_BOARD_IOEXPANDER
	---help---
		Enable board LCD support, IC is GC9503CV.

config ESP32S3_BOARD_TOUCHPAD
	bool "Enable Board Touchpad"
	default n
	depends on ESP32S3_BOARD_I2C
	---help---
		Enable board touchpad support, IC is FT5X06.

endif # ARCH_BOARD_ESP32S3_LCD_EV
