#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config LIBFDT
	bool "Flattened Device Tree Library"
	default n
	---help---
		Enable or disable Flattened Device Tree Library features.

if LIBFDT

config LIBFDT_DTC_VERSION
	string "LIBFDT DTC Version"
	default "1.7.0"
	---help---
		Version of DTC source code to download from github.

endif # LIBFDT
