#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_ESP32S3_LCKFB_SZPI

config ARCH_BOARD_ESP32S3_LCKFB_SZPI_DISPLAY_XRES
	int
	default LCD_ST7789_XRES

config ARCH_BOARD_ESP32S3_LCKFB_SZPI_DISPLAY_YRES
	int
	default LCD_ST7789_YRES

choice
	prompt "SZPI-ESP32-S3 Display direction"

config ARCH_BOARD_ESP32S3_LCKFB_SZPI_DISPLAY_LANDSCAPE
	bool "Landscape"
	depends on LCD_ST7789_XRES > LCD_ST7789_YRES && LCD_ST7789_MIRRORV && LCD_ST7789_MIRRORX && FT5X06_SWAPXY

config ARCH_BOARD_ESP32S3_LCKFB_SZPI_DISPLAY_PORTRAIT
	bool "Portrait"
	depends on LCD_ST7789_XRES < LCD_ST7789_YRES && !LCD_ST7789_MIRRORV && !LCD_ST7789_MIRRORX && !FT5X06_SWAPXY

endchoice

endif # ARCH_BOARD_ESP32S3_LCKFB_SZPI
