#include "../usb_device/defconfig"
CONFIG_BCH=y
CONFIG_DEV_ZERO=y
CONFIG_ESP32S3_SPIFLASH=y
CONFIG_ESP32S3_SPIFLASH_MTD_BLKSIZE=512
CONFIG_SYSTEM_USBMSC=y
CONFIG_SYSTEM_USBMSC_DEVMINOR1=0
CONFIG_SYSTEM_USBMSC_DEVMINOR2=1
CONFIG_SYSTEM_USBMSC_DEVPATH1="/dev/ram10"
CONFIG_SYSTEM_USBMSC_DEVPATH2="/dev/esp32s3flash"
CONFIG_USBMSC=y
CONFIG_USBMSC_EPBULKIN=2
CONFIG_USBMSC_EPBULKOUT=1
