#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_B_G431B_ESC1

if STM32_FOC

config BOARD_STM32_BG431BESC1_FOC_VBUS
       bool "B-G431B-ESC1 board VBUS sense"
       default n

config BOARD_STM32_BG431BESC1_FOC_POT
       bool "B-G431B-ESC1 board POT support"
       default n

endif # STM32_FOC

endif # ARCH_BOARD_B_G431B_ESC1
