#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_B_G431B_ESC1

choice
	prompt "PLL clock source"
	default BOARD_STM32_BG431BESC1_HSI

config BOARD_STM32_BG431BESC1_USE_HSI
	bool "HSI"

config BOARD_STM32_BG431BESC1_USE_HSE
	bool "HSE"

endchoice

if STM32_FOC

config BOARD_STM32_BG431BESC1_FOC_VBUS
	bool "B-G431B-ESC1 board VBUS sense"
	default n

config BOARD_STM32_BG431BESC1_FOC_POT
	bool "B-G431B-ESC1 board POT support"
	default n

endif # STM32_FOC

config BOARD_STM32_BG431BESC1_CANTERM
	bool "B-G431B-ESC1 use on-board CAN terminator resistor"
	default y

endif # ARCH_BOARD_B_G431B_ESC1
