#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "Raw Socket Support"

config NET_PKT
	bool "Socket packet socket support"
	default n
	select NETDEV_IFINDEX
	---help---
		Enable or disable support for packet sockets.

		Packet sockets allow receiving and transmitting frames without
		a transport protocol in between. Frames received are copied into
		a packet socket tap before they enter the network. Data written into
		a packet socket will bypass the network altogether and be placed in
		the transmission buffer of the network interface driver.

		REVISIT: Currently only implemented for Ethernet.

if NET_PKT

config NET_PKT_CONNS
	int "Max packet sockets"
	default 1

endif # NET_PKT
endmenu # Raw Socket Support
