#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if LPWAN_SX126X

config LPWAN_SX126X_RFFREQ_DEFAULT
	int "SX126X default RF frequency Hz"
	default 869252000

config LPWAN_SX126X_SF_DEFAULT
	int "SX126X default spreading factor"
	default 10

config LPWAN_SX126X_BW_DEFAULT
	int "SX126X default bandwidth kHz"
	default 125

config LPWAN_SX126X_CR_DEFAULT
	int "SX126X default coding rate"
	default 8

config LPWAN_SX126X_MAX_DEVICES
	int "SX126X maximum devices"
	default 1

endif # DRIVERS_LPWAN
