#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_SAMA5D3X_EK

choice
	prompt "SAMA5D3x-EK DRAM Type"
	default SAMA5_MT47H128M16RT
	depends on SAMA5_DDRCS

config SAMA5_MT47H128M16RT
	bool "MT47H128M16RT"
	---help---
		Micron 2Gbit x16 DDR2-1066 128Mb

config SAMA5_MT47H64M16HR
	bool "MT47H64M16HR"
	---help---
		Micron 1Gbit x16 DDR2-800 64Mb

endchoice

config SAMA5_NOR_MAIN
	bool "Build nor_main"
	default n
	depends on SAMA5_BOOT_ISRAM
	---help---
		nor_main is a tiny program that runs in ISRAM.  nor_main will enable
		NOR flash then either (1) jump to the program in NOR flash or (2)
		wait for you to break in with GDB to debug the NOR program.

config SAMA5_NOR_START
	bool "Start NOR program"
	default n
	depends on SAMA5_NOR_MAIN
	---help---
		The default behavior of the NOR boot program is to initialize the
		NOR FLASH at CS0, then patiently wait for you to break into the
		program with GDB.  An alternative behvior is enabled with this
		option:  If SAMA5_NOR_START is defined, then it will not wait but
		will, instead, immediately start the program in NOR FLASH.

config SAMA5_TSD_DEVMINOR
	int "Touchscreen device minor"
	default 0
	depends on SAMA5_TSD
	---help---
		This touchscreen will be register as /dev/inputN where the value of
		N is provided by this configuration setting.

config SAMA5_AT25_AUTOMOUNT
	bool "AT25 serial FLASH auto-mount"
	default n
	depends on NSH_ARCHINIT && SAMA5_SPI0 && MTD_AT25
	---help---
		Automatically initialize the AT25 SPI FLASH driver when NSH starts.

choice
	prompt "AT25 serial FLASH configuration"
	default SAMA5_AT25_FTL
	depends on SAMA5_AT25_AUTOMOUNT

config SAMA5_AT25_FTL
	bool "Create AT25 Serial FLASH block driver"
	---help---
		Create the MTD driver for the AT25 and "wrap" the AT25 is a standard
		block driver that could then, for example, be mounted using FAT or
		any other file system.  Any file system may be used, but there will
		be no wear-leveling.

config SAMA5_AT25_NXFFS
	bool "Create AT25 serial FLASH NXFFS file system"
	depends on FS_NXFFS
	---help---
		Create the MTD driver for the AT25 and and mount the AT25 device as
		a wear-leveling, NuttX FLASH file system (NXFFS).  The downside of
		NXFFS is that it can be very slow.

endchoice

config SAMA5_AT24_AUTOMOUNT
	bool "AT24 Serial EEPROM auto-mount"
	default n
	depends on NSH_ARCHINIT && SAMA5_TWI0 && MTD_AT24XX
	---help---
		Automatically initialize the AT24 SPI EEPROM driver when NSH starts.

		The Serial EEPROM was mounted on an external adaptor board and
		connected to the SAMA5D3x-EK thusly:

		- VCC -- VCC
		- GND -- GND
		- TWCK0(PA31) -- SCL
		- TWD0(PA30)  -- SDA

		By default, PA30 and PA31 are SWJ-DP pins, it can be used as a pin
		for TWI peripheral in the end application.

choice
	prompt "AT24 serial EPPROM configuration"
	default SAMA5_AT24_FTL
	depends on SAMA5_AT24_AUTOMOUNT

config SAMA5_AT24_FTL
	bool "Create AT24 block driver"
	---help---
		Create the MTD driver for the AT24 and "wrap" the AT24 is a standard
		block driver that could then, for example, be mounted using FAT or
		any other file system.  Any file system may be used, but there will
		be no wear-leveling.

config SAMA5_AT24_NXFFS
	bool "Create AT24 NXFFS file system"
	depends on FS_NXFFS
	---help---
		Create the MTD driver for the AT24 and and mount the AT24 device as
		a wear-leveling, NuttX FLASH file system (NXFFS).  The downside of
		NXFFS is that it can be very slow.

endchoice

endif
