#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config NET_NAT
	bool "Network Address Translation (NAT)"
	default n
	depends on NET_IPFORWARD
	---help---
		Enable or disable Network Address Translation (NAT) function.

config NET_NAT_TCP_EXPIRE_SEC
	int "TCP NAT entry expiration seconds"
	default 86400
	depends on NET_NAT
	---help---
		The expiration time for idle TCP entry in NAT.

		Note: The default value 86400 is suggested by RFC2663, Section 2.6,
		Page 5.

config NET_NAT_ICMP_EXPIRE_SEC
	int "ICMP NAT entry expiration seconds"
	default 60
	depends on NET_NAT
	---help---
		The expiration time for idle ICMP entry in NAT.

		Note: The default value 60 is suggested by RFC5508, Section 3.2,
		Page 8.
