#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "RPMSG Socket Support"
	depends on NET

config NET_RPMSG
	bool "RPMSG domain (remote) sockets"
	depends on RPMSG
	default n
	---help---
		Enable or disable RPMSG (aka remote) sockets.

if NET_RPMSG

config NET_RPMSG_RXBUF_SIZE
	int "RPMSG socket rx buffer size"
	default 1024
	---help---
		Socket RPMSG rx buffer size, for recv slowly

config NET_RPMSG_NPOLLWAITERS
	int "RPMSG socket number of poll waiters"
	default 4
	---help---
		Socket RPMSG number of poll waiters

endif # NET_RPMSG

endmenu # Rpmsg Domain Sockets
