#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_CHIP_IMX6

# choice "iMX.6 Chip Selection"

menu "iMX.6 Peripheral Selection"

config IMX6_UART1
	bool "UART1"
	default n
	select ARCH_HAVE_UART1

config IMX6_UART2
	bool "UART2"
	default n
	select ARCH_HAVE_UART2

config IMX6_UART3
	bool "UART3"
	default n
	select ARCH_HAVE_UART3

config IMX6_UART4
	bool "UART4"
	default n
	select ARCH_HAVE_UART3

config IMX6_UART5
	bool "UART5"
	default n
	select ARCH_HAVE_UART3

config IMX6_SPI1
	bool "SPI1"
	default n
	select SPI

config IMX6_SPI2
	bool "SPI2"
	default n
	select SPI

endmenu # iMX Peripheral Selection
endif # ARCH_CHIP_IMX6
