#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config BCH_ENCRYPTION
	bool "Enable BCH encryption"
	default n
	depends on CRYPTO_AES

config BCH_ENCRYPTION_KEY_SIZE
	int "AES key size"
	default 16
	depends on BCH_ENCRYPTION