#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_CHIP_QEMU
comment "QEMU Configuration Options"

config QEMU_KEYPAD
	bool "QEMU Keypad"
	default n
	---help---
		Enable support for the QEMU keypad.  See qemu_keypad.h for
		interfaces.

config QEMU_VGA
	bool "QEMU VGA"
	default n
	---help---
		Enable support for the QEMU VGA.  See qemu_vga.h for interfaces.

		NOTE:  This VGA driver exports a character driver that can be used
		to write into the VGA framebuffer. It does *NOT* support a NuttX
		framebuffer interfaces and, hence, cannot be used with the NuttX
		graphics subsystem.  Such a conversion to the standard NuttX
		framebuffer interface would, however, not be a big job.

config QEMU_GPIOIRQ
	bool "GPIO interrupt support"
	default n
	depends on EXPERIMENTAL
	---help---
		Enable support for GPIO interrupts (not implemented)

endif
