#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

comment "TC3XX Configuration Options"

menu "TC3XX Peripheral Support"

# These are the peripheral selections proper

config TC3XX_UART0
	bool "TC3XX UART0"
	default y
	select UART0_SERIALDRIVER
	select ARCH_HAVE_SERIAL_TERMIOS

config CPU_COREID
	int "TRICORE CPU CORE ID"
	default 0
	range 0 6

endmenu
