#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config FS_PROCFS
	bool "PROCFS File System"
	default n
	---help---
		The PROCFS file system provides access to task status and other driver
		status through the NuttX file system.  The PROCFS may, for example, be
		mount at /proc.  Then information about all of the currently active
		tasks and threads will be available in /proc.

if FS_PROCFS

config FS_PROCFS_REGISTER
	bool "Run-time registration"
	default n
	---help---
		Support run-time registration of the new entries in the procfs file
		system.

config FS_PROCFS_MAX_TASKS
	int "The maximum number of active tasks for procfs snapshot"
	default 128
	---help---
		The maximum number of active tasks for procfs snapshot.

menu "Exclude individual procfs entries"

config FS_PROCFS_EXCLUDE_BLOCKS
	bool "Exclude fs/blocks information"
	depends on !DISABLE_MOUNTPOINT
	default DEFAULT_SMALL
	---help---
		Causes the fs block usage information to be excluded from the procfs
		system.  This procfs file provides the text output for the NSH 'df'
		command.

config FS_PROCFS_EXCLUDE_CPULOAD
	bool "Exclude CPU load"
	depends on SCHED_CPULOAD
	default DEFAULT_SMALL

config FS_PROCFS_EXCLUDE_ENVIRON
	bool "Exclude environment information"
	depends on !FS_PROCFS_EXCLUDE_PROCESS
	default DEFAULT_SMALL
	---help---
		Causes the environment variable information to be excluded from the
		procfs system.  This will reduce code space slightly.

config FS_PROCFS_EXCLUDE_IOBINFO
	bool "Exclude iobinfo"
	depends on MM_IOB
	default DEFAULT_SMALL

config FS_PROCFS_EXCLUDE_PROCESS
	bool "Exclude process information"
	default DEFAULT_SMALL
	---help---
		Causes the process information to be excluded from the procfs system.
		This will reduce code space, but then giving access to process info
		was kinda the whole point of procfs, but hey, whatever.

config FS_PROCFS_INCLUDE_PROGMEM
	bool "Include prog mem"
	depends on ARCH_HAVE_PROGMEM && !FS_PROCFS_EXCLUDE_MEMINFO
	default DEFAULT_SMALL

config FS_PROCFS_EXCLUDE_MEMDUMP
	bool "Exclude memdump"
	depends on !FS_PROCFS_EXCLUDE_MEMINFO
	default DEFAULT_SMALL

config FS_PROCFS_EXCLUDE_MEMINFO
	bool "Exclude meminfo"
	default DEFAULT_SMALL

config FS_PROCFS_EXCLUDE_MODULE
	bool "Exclude module information"
	depends on MODULE
	default DEFAULT_SMALL
	---help---
		Causes the module information to be excluded from the procfs system.

config FS_PROCFS_EXCLUDE_MOUNT
	bool "Exclude fs/mount information"
	depends on !DISABLE_MOUNTPOINT
	default DEFAULT_SMALL
	---help---
		Causes the mount point information to be excluded from the procfs
		system.  This procfs file provides the text output for the NSH 'mount'
		command.

config FS_PROCFS_EXCLUDE_MOUNTS
	bool "Exclude mounts"
	depends on !DISABLE_MOUNTPOINT
	default DEFAULT_SMALL

config FS_PROCFS_EXCLUDE_NET
	bool "Exclude network"
	depends on NET
	default DEFAULT_SMALL

config FS_PROCFS_EXCLUDE_PARTITIONS
	bool "Exclude partitions"
	depends on MTD_PARTITION
	default DEFAULT_SMALL

config FS_PROCFS_EXCLUDE_ROUTE
	bool "Exclude routing table"
	depends on !FS_PROCFS_EXCLUDE_NET && NET_ROUTE
	default DEFAULT_SMALL

config FS_PROCFS_EXCLUDE_SMARTFS
	bool "Exclude fs/smartfs"
	depends on FS_SMARTFS
	default DEFAULT_SMALL

config FS_PROCFS_EXCLUDE_TCBINFO
	bool "Exclude tcbinfo procfs"
	depends on DEBUG_TCBINFO
	default DEFAULT_SMALL

config FS_PROCFS_EXCLUDE_UPTIME
	bool "Exclude uptime"
	default DEFAULT_SMALL

config FS_PROCFS_EXCLUDE_USAGE
	bool "Exclude fs/usage information"
	depends on !DISABLE_MOUNTPOINT
	default DEFAULT_SMALL
	---help---
		Causes the fs usage information to be excluded from the procfs
		system.  This procfs file provides the text output for the NSH 'df -h'
		command.

config FS_PROCFS_EXCLUDE_VERSION
	bool "Exclude version"
	default DEFAULT_SMALL

endmenu # Exclude individual procfs entries
endif # FS_PROCFS
