#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "Routing Table Configuration"

config NET_ROUTE
	bool "Routing table support"
	default n
	depends on NET_IPv4 || NET_IPv6
	---help---
		Build in support for a routing table.  See include/net/route.h

if NET_ROUTE

config ROUTE_MAX_IPv4ROUTES
	int "IPv4 routing table size"
	default 4
	depends on NET_IPv4
	---help---
		The size of the IPv4 routing table (in entries).

config ROUTE_MAX_IPv6ROUTES
	int "IPv6 routing table size"
	default 4
	depends on NET_IPv6
	---help---
		The size of the IPv6 routing table (in entries).

endif # NET_ROUTE
endmenu # ARP Configuration
