#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

comment "RV32IM Configuration Options"

config RV32IM_SYSTEM_CSRRS_SUPPORT
	bool "Supports RV core feature identification via CSRRS opcode"
	default n
	---help---
		Specifies if the architecture supports the SYSTEM opcode for reading
		Control Status Registers to obtain the RV core option flags.

config RV32IM_CUSTOM_IRQ_SUPPORT
	bool "Has custom implementation for IRQ handling"
	default n
	---help---
		Allows overriding the standard IRQ processing as described
		in the RISC-V architecture documents.  This allows architecture
		specific code to support non-standard IRQ processing in the core.
