#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

menu "Unix Domain Socket Support"
	depends on NET

config NET_LOCAL
	bool "Unix domain (local) sockets"
	default n
	---help---
		Enable or disable Unix domain (aka Local) sockets.

if NET_LOCAL

config NET_LOCAL_STREAM
	bool "Unix domain stream sockets"
	default y
	---help---
		Enable support for Unix domain SOCK_STREAM type sockets

config NET_LOCAL_DGRAM
	bool "Unix domain datagram sockets"
	default y
	---help---
		Enable support for Unix domain SOCK_DGRAM type sockets

endif # NET_LOCAL

endmenu # Unix Domain Sockets
