#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_CHIP_Z8

config ARCH_CHIP_Z8F640X
	bool

config ARCH_CHIP_Z8F642X
	bool

choice
	prompt "z8 Chip Selection"
	default ARCH_CHIP_Z8F6403

config ARCH_CHIP_Z8F6403
	bool "Z8F6403"
	select ARCH_CHIP_Z8F640X
	---help---
		ZiLOG Z8F6403 (z8 Encore)

config ARCH_CHIP_Z8F6423
	bool "Z8F6423"
	select ARCH_CHIP_Z8F642X
	---help---
		ZiLOG Z8F6423 (z8 Encore)

endchoice

# UART0/1 always enabled

config Z8_UART0
	bool
	default y
	select UART0_SERIALDRIVER

config Z8_UART1
	bool
	default y
	select UART1_SERIALDRIVER

# The ZiLOG ZDS-II Windows toolchain is the only toolchain available for
# the ez80.
#

config Z8_TOOLCHAIN_ZDSII
	bool
	default y if ARCH_CHIP_Z8
	default n if !ARCH_CHIP_Z8

choice
	prompt "ZDS-II Toolchain version"
	default Z8_ZDSII_V522

config Z8_ZDSII_V500
	bool "ZDS-II 5.0.0"

config Z8_ZDSII_V522
	bool "ZDS-II 5.2.2"

endchoice # ZDS-II Toolchain version
endif # ARCH_CHIP_Z8
