#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config ESP32S3_MERGE_BINS
	bool "Merge raw binary files into a single file"
	default n
	---help---
		Merge the raw binary files into a single file for flashing to the
		device.
		This is only useful when the path to binary files (e.g. bootloader)
		is provided via the ESPTOOL_BINDIR variable.

config ESP32S3_QEMU_IMAGE
	bool "ESP32S3 binary image for QEMU"
	default n
	select ESP32S3_MERGE_BINS
	---help---
		Create a binary flash image used for QEMU.

config ESP32S3_SPEED_UP_ISR
	bool "Speed up ISR"
	default n
	---help---
		Move ESP32-S3's interrupt, OS timer tick, and scheduler functions
		from Flash to IRAM. This can speed up interrupt service processing
		and also reduce reading data from Flash.

		If you run applications that need continue reading data from PSRAM,
		such as LCD display, please select this option.
