#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config FS_NAMED_SEMAPHORES
	bool "Named semaphore support"
	default n
	---help---
		Include support for named semaphores.

if FS_NAMED_SEMAPHORES

config FS_NAMED_SEMAPHORES_VFS_PATH
	string "Path to semaphore storage"
	default "/var/sem"
	---help---
		The path to where named semaphores will exist in the VFS namespace.

endif # FS_NAMED_SEMAPHORES
