#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if DRIVERS_IEEE802154

config IEEE802154_MRF24J40
	bool "Microchip MRF24J40 IEEE 802.15.4 transceiver"
	default n
	---help---
		This selection enables support for the Microchip MRF24J40 device.

endif # DRIVERS_IEEE802154
