#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_ESP32_ETHERNETKIT

choice
	prompt "On-board Crystal Frequency"
	default ESP32_ETHERNETKIT_XTAL_40MZ

config ESP32_ETHERNETKIT_XTAL_40MZ
	bool "40MHz"

config ESP32_ETHERNETKIT_XTAL_26MHz
	bool "26MHz"

endchoice # On-board Crystal Frequency

config ESP32_ETHERNETKIT_RUN_IRAM
	bool "Run from IRAM"
	default n
	---help---
		This loads all of NuttX inside IRAM.  Used to test somewhat small
		images that can fit entirely in IRAM.

source boards/xtensa/esp32/common/Kconfig

endif # ARCH_BOARD_ESP32_ETHERNETKIT
