#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config NET_ARCH_INCR32
	bool "Architecture-specific net_incr32()"
	default n
	---help---
		Define if you architecture provided an optimized version of
		net_incr32() with prototype:

			void net_incr32(FAR uint8_t *op32, uint16_t op16)

config NET_ARCH_CHKSUM
	bool "Architecture-specific net_chksum()"
	default n
	---help---
		Define if you architecture provided an optimized version of
		functions with the following prototypes:

			uint16_t chksum(uint16_t sum, FAR const uint8_t *data, uint16_t len)
			uint16_t net_chksum(FAR uint16_t *data, uint16_t len)
			uint16_t ipv4_chksum(FAR struct ipv4_hdr_s *ipv4)
			uint16_t ipv4_upperlayer_chksum(FAR struct net_driver_s *dev, uint8_t proto)
			uint16_t ipv6_upperlayer_chksum(FAR struct net_driver_s *dev, uint8_t proto, unsigned int iplen)

config NET_SNOOP_BUFSIZE
	int "Snoop buffer size for interrupt"
	default 4096

config NET_RECV_PACK
	bool "Enable TCP/IP receive data in a continuous poll"
	default y
	---help---
		This option will enable TCP/IP receive data into a continuous iob chain.
		Fragmentation of network data will intensify iob consumption, if
		the device receives a message storm of fragmented packets, the iob
		cache will not be effectively used, this is not allowed on iot devices
		since the resources of such devices are limited. Of course, this
		also takes some disadvantages: data needs to be copied.
		This option will brings some balance on resource-constrained devices,
		enable this config to reduce the consumption of iob, the received iob
		buffers will be merged into the contiguous iob chain.
