# CONFIG_ARCH_RAMFUNCS is not set
CONFIG_ARCH_BOARD_TMS570LS31X_USB_KIT=y
CONFIG_ARCH_BOARD="tms570ls31x-usb-kit"
CONFIG_ARCH_BUTTONS=y
CONFIG_ARCH_CHIP_TMS570=y
CONFIG_ARCH_CHIP_TMS570LS3137ZWT=y
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_ARCH_IRQBUTTONS=y
CONFIG_ARCH_LOWVECTORS=y
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARCH="arm"
CONFIG_BUILTIN=y
CONFIG_DISABLE_POLL=y
CONFIG_ELF=y
CONFIG_SYSTEM_NSH=y
CONFIG_FAT_LCNAMES=y
CONFIG_FAT_LFN=y
CONFIG_FS_FAT=y
CONFIG_FS_PROCFS=y
CONFIG_I2C=y
CONFIG_INTELHEX_BINARY=y
CONFIG_MAX_TASKS=16
CONFIG_MAX_WDOGPARMS=2
CONFIG_NFILE_DESCRIPTORS=8
CONFIG_NFILE_STREAMS=8
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_LINELEN=64
CONFIG_NSH_READLINE=y
CONFIG_PREALLOC_MQ_MSGS=4
CONFIG_PREALLOC_TIMERS=4
CONFIG_RAM_SIZE=262143
CONFIG_RAM_START=0x08000000
CONFIG_RAW_BINARY=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_WAITPID=y
CONFIG_SCI1_2STOP=1
CONFIG_SCI1_BAUD=9600
CONFIG_SCI1_SERIAL_CONSOLE=y
CONFIG_SDCLONE_DISABLE=y
CONFIG_SPI=y
CONFIG_START_DAY=10
CONFIG_START_MONTH=3
CONFIG_START_YEAR=2014
CONFIG_SYSTEM_RAMTEST=y
CONFIG_TMS570_GIO_IRQ=y
CONFIG_TMS570_SCI1=y
CONFIG_USER_ENTRYPOINT="nsh_main"
