#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "SocketCAN Support"

config NET_CAN
	bool "SocketCAN support"
	default n
	select NET_READAHEAD
	depends on NET
	---help---
		Enable support for SocketCAN sockets that will permit.

		This logic is a WIP.  Currently only fragmentary support is
		available, not enough to actually do anything of consequence.

if NET_CAN

config CAN_CONNS
	int "Number of CAN connections"
	default 4
	---help---
		Maximum number of CAN connections (all tasks).
		
config NET_CAN_SOCK_OPTS
	bool "sockopt support"
	default n
	select NET_CANPROTO_OPTIONS
	---help---
		Enable support for the CAN socket options
		
config NET_CAN_NOTIFIER
	bool "Support CAN notifications"
	default n
	depends on SCHED_WORKQUEUE
	select WQUEUE_NOTIFIER
	---help---
		Enable building of CAN notifier logic that will execute a worker
		function on the low priority work queue when read-ahead data
		is available or when a CAN connection is lost.  This is is a general
		purpose notifier, but was developed specifically to support poll()
		logic where the poll must wait for these events.

endif # NET_CAN
endmenu # CAN Socket Support
