#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if SPI

config SPI_OWNBUS
	bool "SPI single device"
	default n
	---help---
		Set if there is only one active device on the SPI bus.  No locking or
		SPI configuration will be performed. It is not necessary for clients to
		lock, re-configure, etc.

config SPI_EXCHANGE
	bool "SPI exchange"
	default y
	---help---
		Driver supports a single exchange method (vs a recvblock() and
		sndblock() methods).

config SPI_CMDDATA
	bool "SPI CMD/DATA"
	default n
	---help---
		Devices on the SPI bus require out-of-band support to distinguish
		command transfers from data transfers.  Such devices will often support
		either 9-bit SPI (yech) or 8-bit SPI and a GPIO output that selects
		between command and data.

config SPI_BITBANG
	bool "SPI bit-bang device"
	default n
	---help---
		Enable support for a generic SPI bit-bang device.
		See include/nuttx/spi/spi_bitbang.h for further information.

if SPI_BITBANG

config SPI_BITBANG_VARWIDTH
	bool "SPI bit-bang variable width transfers"
	default n
	---help---
		Enable support for a variable dat width transfers.  Default: 8-bit
		only.

endif
endif
