#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config NET_IOB
	bool "Network I/O buffer support"
	default n
	---help---
		This setting will build the networking I/O buffer (IOB) support
		library.

if NET_IOB

config IOB_NBUFFERS
	int "Number of pre-allocated network I/O buffers"
	default 24
	---help---
		Each packet is represented by a series of small I/O buffers in a
		chain.  This setting determines the number of preallocated I/O
		buffers available for packet data.

config IOB_BUFSIZE
	int "Payload size of one network I/O buffer"
	default 196
	---help---
		Each packet is represented by a series of small I/O buffers in a
		chain.  This setting determines the data payload each preallocated
		I/O buffer.

config IOB_NCHAINS
	int "Number of pre-allocated I/O buffer chain heads"
	default 0
	---help---
		These tiny nodes are used as "containers" to support queueing of
		I/O buffer chains.  This will limit the number of I/O transactions
		that can be "in-flight" at any give time.  The default value of
		zero disables this features.

		These generic I/O buffer chain containers are not currently used
		by any logic in NuttX.  That is because their other other specialized
		I/O buffer chain containers that also carry a payload of usage
		specific information.

endif # NET_IOB
