#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_TM4C1294_LAUNCHPAD
if TIMER && TIVA_TIMER32_PERIODIC

config TM4C1294_LAUNCHPAD_TIMER
	bool
	default n

choice
	prompt "Timer driver selection"
	default TM4C1294_LAUNCHPAD_TIMER_NONE

config TM4C1294_LAUNCHPAD_TIMER_NONE
	bool "None"

config TM4C1294_LAUNCHPAD_TIMER0
	bool "Timer 0"
	depends on TIVA_TIMER0
	select TM4C1294_LAUNCHPAD_TIMER

config TM4C1294_LAUNCHPAD_TIMER1
	bool "Timer 1"
	depends on TIVA_TIMER1
	select TM4C1294_LAUNCHPAD_TIMER

config TM4C1294_LAUNCHPAD_TIMER2
	bool "Timer 2"
	depends on TIVA_TIMER2
	select TM4C1294_LAUNCHPAD_TIMER

config TM4C1294_LAUNCHPAD_TIMER3
	bool "Timer 3"
	depends on TIVA_TIMER3
	select TM4C1294_LAUNCHPAD_TIMER

config TM4C1294_LAUNCHPAD_TIMER4
	bool "Timer 4"
	depends on TIVA_TIMER4
	select TM4C1294_LAUNCHPAD_TIMER

config TM4C1294_LAUNCHPAD_TIMER5
	bool "Timer 5"
	depends on TIVA_TIMER5
	select TM4C1294_LAUNCHPAD_TIMER

config TM4C1294_LAUNCHPAD_TIMER6
	bool "Timer 6"
	depends on TIVA_TIMER6
	select TM4C1294_LAUNCHPAD_TIMER

config TM4C1294_LAUNCHPAD_TIMER7
	bool "Timer 7"
	depends on TIVA_TIMER7
	select TM4C1294_LAUNCHPAD_TIMER

endchoice # Timer driver selection

if TM4C1294_LAUNCHPAD_TIMER

config TM4C1294_LAUNCHPAD_TIMER_DEVNAME
	string "Timer device name"
	default "/dev/timer0"

config TM4C1294_LAUNCHPAD_TIMER_ALTCLK
	bool "Use alternate clock source"
	default n
	depends on EXPERIMENTAL

endif # TM4C1294_LAUNCHPAD_TIMER
endif # TIVA_TIMER32_PERIODIC
config TM4C1294_LAUNCHPAD_JUMPERS_CAN
	bool "Use CAN jumpers configuration"
	default n
	depends on TIVA_UART2
	---help---
		If set, NuttX will assume the jumpers JP4 and JP5 are set in CAN configuration.
		This means UART2 will be connected to the ICDI serial port.

choice
	prompt "UART2 Rx pin selection"
	depends on TIVA_UART2
	default TM4C1294_LAUNCHPAD_UART2_RX_A6

config TM4C1294_LAUNCHPAD_UART2_RX_A6
	bool "Use A6 as UART Rx pin"
	depends on TIVA_UART2 && !TM4C1294_LAUNCHPAD_JUMPERS_CAN

config TM4C1294_LAUNCHPAD_UART2_RX_D4
	bool "Use D4 as UART Rx pin"
	depends on TIVA_UART2

endchoice # UART2 Rx pin selection

choice
	prompt "UART2 Tx pin selection"
	default TM4C1294_LAUNCHPAD_UART2_TX_A7
	depends on TIVA_UART2

config TM4C1294_LAUNCHPAD_UART2_TX_A7
	bool "Use A7 as UART Tx pin"
	depends on TIVA_UART2 && !TM4C1294_LAUNCHPAD_JUMPERS_CAN

config TM4C1294_LAUNCHPAD_UART2_TX_D5
	bool "Use D5 as UART Tx pin"
	depends on TIVA_UART2

endchoice # UART2 Tx pin selection

choice
	prompt "Sensors selection"
	depends on TIVA_I2C
	default BOOSTXL_SENSORS_NONE

config BOOSTXL_SENSORS_NONE
	bool "None"

config BOOSTXL_SENSORS_1
	bool "BOOSTXL-SENSORS on BOOSTERPACK1"
	depends on TIVA_I2C0

config BOOSTXL_SENSORS_2
	bool "BOOSTXL-SENSORS on BOOSTERPACK2"
	depends on TIVA_I2C2
endchoice
endif # ARCH_BOARD_TM4C1294_LAUNCHPAD
