#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if RPTUN

config K230_RPTUN_MASTER
	bool "RPTUN master node"
	default y if RPTUN_LOADER
	default n

config K230_RPTUN_SHM_ADDR
	hex "RPTUN share memory address"
	default 0x80200000
	---help---
		 RPTUN shared memory start address.

config K230_RPTUN_SHM_SIZE
	int "RPTUN share memory size"
	default 32768
	---help---
		 RPTUN shared memory size in bytes.

config K230_RPTUN_IPI
	bool "use IPI for RPTUN"
	default n
	depends on K230_IPI
	---help---
		Use Inter-Processor interruption to improve efficiency.
		Not ready yet.


config K230_RPTUN_WORK_DELAY
	int "RPTUN work delay"
	default 50
	depends on !K230_RPTUN_IPI
	---help---
		 Ticks for polling RPTUN. Polling doesn't need IPI.

endif # RPTUN


