#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_MR_CANHUBK3

config S32K3XX_TJA1153
	bool "TJA1153 Initialization Sequence"
	default n
	depends on S32K3XX_FLEXCAN
	---help---
		Enables a basic NXP TJA1153 initialization routine to
		configure the CAN PHY to allow all incoming and outgoing traffic.

config S32K3XX_SELFTEST
	bool "MR-CANHUBK3 Board Self-Test"
	default n
	---help---
		Run basic routines to verify that all board components are up and
		running.  Results are send to the syslog, it is recommended to
		enable all output levels (error, warning and info).

endif # ARCH_BOARD_MR_CANHUBK3
