#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_VIEWTOOL_STM32F107

config VIEWTOOLS_HIGHPRI
	bool "High priority interrupt test"
	default n
	depends on ARCH_CHIP_STM32F103VCT6 && ARCH_HIPRI_INTERRUPT
	---help---
		This selection enables building of the custom test for the Cortex-M
		high priority, nested interrupts.  ARCH_HIPRI_INTERRUPT must first
		be enabled.  This test is only implemented on the STM32F103VCT6
		(ARCH_CHIP_STM32F103VCT6) but should be easily ported to other STM32
		architectures.

endif
