/b16
/bdf-converter
/cmpconfig
/configure
/convert-comments
/detab
/gencromfs
/initialconfig
/mkconfig
/mkdeps
/cnvwindeps
/logparser
/lowhex
/mksymtab
/mksyscall
/mkversion
/nxstyle
/rmcr
/incdir
/.k2h-body.dat
/.k2h-apndx.dat
