#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config ARMV7A_MEMCPY
	bool "Enable optimized memcpy() for ARMv7-A"
	select LIBC_ARCH_MEMCPY
	depends on ARCH_TOOLCHAIN_GNU
	---help---
		Enable optimized ARMv7-A specific memcpy() library function
