#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if !DISABLE_MQUEUE

config FS_MQUEUE_MPATH
	string "Path to message queuee"
	default "/var/mqueue"
	---help---
		The path to where POSIX message queues will exist in the VFS namespace.

endif # !DISABLE_MQUEUE
