#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

comment "Toolchain Library Support"

config LIB_BUILTIN
	bool

config LIB_COMPILER_RT
	bool

choice
	prompt "Builtin toolchain support"
	default BUILTIN_TOOLCHAIN
	---help---
		Select the builtin library

config BUILTIN_COMPILER_RT
	bool "Builtin LLVM libclang_rt.builtins"
	select LIB_BUILTIN
	select LIB_COMPILER_RT
	---help---
		Compile the LLVM Compiler-rt library into the OS.

config BUILTIN_TOOLCHAIN
	bool "Link toolchain builtin library to the OS"

endchoice

choice
	prompt "Code coverage analysis support"
	default COVERAGE_NONE
	---help---
		Select the code coverage analysis library

config COVERAGE_COMPILER_RT
	bool "Builtin libclang_rt.profile"
	select LIB_BUILTIN
	select LIB_COMPILER_RT
	---help---
		Compile the LLVM Compiler-rt library into the OS.
		Support adding native rich compilation options "-fprofile-xxx"

config COVERAGE_MINI
	bool "Builtin code coverage analysis mini library"
	select LIB_BUILTIN
	---help---
		This is a mini version of the library, which is
		used for code coverage analysis. If the toolchain
		is clang, only support the compilation option
		"-fprofile-instr-generate -fcoverage-mapping"

config COVERAGE_TOOLCHAIN
	bool "Link toolchain gcov library to the OS"
	---help---
		Link the toolchain coverage library to the OS.

config COVERAGE_NONE
	bool "Disable coverage function"

endchoice

config LIB_COMPILER_RT_VERSION
	string "Select LLVM Compiler-rt version"
	depends on LIB_COMPILER_RT
	default "17.0.1"

config LIB_COMPILER_RT_HAS_BFLOAT16
	bool "Enable support for bfloat16 in Compiler-rt"
	depends on LIB_COMPILER_RT
	default n
