#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_CHIP_GOLDFISH

config GOLDFISH_RTC_PL031_BASE
	hex "GOLDFISH RTC PL031 BASE"
	default 0x09010000
	depends on RTC_PL031

config GOLDFISH_RTC_PL031_IRQ
	hex "GOLDFISH RTC PL031 IRQ"
	default 0x22
	depends on RTC_PL031

endif # ARCH_CHIP_GOLDFISH
