[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
docutils = "==0.18.1"
m2r2 = "==0.3.2"
sphinx_rtd_theme = "*"
Sphinx = "~=6.0"
sphinx-tabs = "*"
sphinx-autobuild = "*"
sphinx-copybutton = "*"
pytz = "*"
importlib-metadata = "*"
