[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
recommonmark = "*"
m2r2 = "==0.2.5"
Sphinx = "==3.2.1"
sphinx-rtd-theme = "==0.5.0"

[requires]
python_version = "3.7"
