#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_CHIP_BCM2708

comment "BCM2708 Configuration Options"

choice
	prompt "BCM2708 Chip Selection"
	default ARCH_CHIP_BCM2835

config ARCH_CHIP_BCM2835
	bool "Broadcom BCM2835"

endchoice # BCM2708 Configuration Option

menuconfig BCM2708_GPIO_IRQ
	bool "GPIO pin interrupts"
	---help---
		Enable support for interrupting GPIO pins

endif # ARCH_CHIP_BCM2708
