#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if !DISABLE_MOUNTPOINT

menu "Partition Table"

config PTABLE_PARTITION
	bool "PTABLE support"
	default n

config MBR_PARTITION
	bool "MBR support"
	default n

config GPT_PARTITION
	bool "GPT support"
	default n

config TXTABLE_PARTITION
	bool "TXTABLE support"
	default n

if TXTABLE_PARTITION

config TXTABLE_PARTITION_MAX_NUM
	int "Max num of TXTABLE partition"
	default 16

endif

endmenu

endif
