#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_ARTY_A7


config LITEX_SDIO
	bool "SDIO"
	default n
	select SCHED_HPWORK
	select MMCSD
	select MMCSD_SDIO
	select SDIO_BLOCKSETUP
	select ARCH_HAVE_SDIO
	select SDIO_DMA

config LITEX_SDIO1
	bool "Enable SDIO1"
	default y if LITEX_SDIO
	select LITEX_SDIO_DMA
	depends on LITEX_SDIO

config LITEX_IDMODE_FREQ
	int "ID mode frequency"
	default 400000
	depends on LITEX_SDIO
	---help---
		Initial, ID mode SD frequency

config LITEX_MMCXFR_FREQ
	int "MMC transfer frequency"
	default 25000000
	depends on LITEX_SDIO
	---help---
		Frequency to use for transferring data to/from an MMC card

config LITEX_SD4BIT_FREQ
	int "SD 4-bit transfer frequency"
	default 50000000
	depends on LITEX_SDIO
	---help---
		Frequency to use for transferring data to/from an SD card using all four data lines.

config LITEX_SDIO_MOUNT
	bool "Mount SDIO at startup"
	default n
	depends on LITEX_SDIO

config LITEX_SDIO_MOUNT_BLKDEV
	string "SDIO block device name"
	default "/dev/mmcsd0"
	depends on LITEX_SDIO

config LITEX_SDIO_MOUNT_MOUNTPOINT
	string "SDIO mountpoint"
	default "/mnt"
	depends on LITEX_SDIO

config LITEX_SDIO_MOUNT_FSTYPE
	string "SDIO file system type"
	default "vfat"
	depends on LITEX_SDIO

config LITEX_APPLICATION_RAMDISK
	bool "Use application ramdisk"
	depends on BUILD_KERNEL
	---help---
		The application ramdisk is currently only intended only to hold 
		application elfs in the romfs format. These applications must loaded
		externally into ram through litex_term, or similar method.

endif
