#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

comment "RV64GC Configuration Options"

choice
	prompt "Toolchain Selection"
	default RV64GC_TOOLCHAIN_GNU_RVGW if TOOLCHAIN_WINDOWS
	default RV64GC_TOOLCHAIN_GNU_RVGL if !TOOLCHAIN_WINDOWS

config RV64GC_TOOLCHAIN_GNU_RVGL
	bool "Generic GNU RVG toolchain under Linux (or other POSIX environment)"
	select ARCH_TOOLCHAIN_GNU
	---help---
		This option should work for any modern GNU toolchain (GCC 5.2 or newer)
		configured for riscv64-unknown-elf.

config RV64GC_TOOLCHAIN_GNU_RVGW
	bool "Generic GNU RVG toolchain under Windows"
	depends on TOOLCHAIN_WINDOWS
	select CYGWIN_WINTOOL if WINDOWS_CYGWIN
	select ARCH_TOOLCHAIN_GNU
	---help---
		This option should work for any modern GNU toolchain (GCC 5.2 or newer)
		configured for riscv64-unknown-elf.

endchoice
